<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

<title>サインアップ画面</title>
</head>
<body>

  <div class="container">
    <div class="col-sm-5">
      <div class="page-header">
        <h1>ユーザ登録</h1>
      </div>

        <form method="post" th:action="@{/signup}" th:object="${signupForm}">
          <table class="table table-bordered">
            <tr>
              <th class="table-active col-sm-3">ユーザID (Email)</th>
              <td>
                <div class="form-group" th:classappend="${#fields.hasErrors('userId')} ? 'has-error'">
                  <input type="text" th:field="*{userId}" placeholder="email@address.com">
                <span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
                </div>
              </td>
            </tr>

            <tr>
              <th class="table-active">パスワード</th>
              <td>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                  <input type="password" th:field="*{password}">
                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
              </td>
            </tr>

            <tr>
              <th class="table-active">ユーザ名</th>
              <td>
                <div class="form-group" th:classappend="${#fields.hasErrors('userName')} ? 'has-error'">
                  <input type="text" th:field="*{userName}">
                <span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
                </div>
              </td>
            </tr>

            <tr>
              <th class="table-active">誕生日</th>
              <td>
                <div class="form-group" th:classappend="${#fields.hasErrors('birthday')} ? 'has-error'">
                  <input type="text" placeholder="yyyy/MM/dd" maxlength="10" th:field="*{birthday}">
                <span class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
                </div>
              </td>
            </tr>

            <tr>
              <th class="table-active">年齢</th>
              <td>
                <div class="form-group" th:classappend="${#fields.hasErrors('age')} ? 'has-error'">
                  <input type="number" th:field="*{age}">
                <span class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
                </div>
              </td>
            </tr>

            <tr>
              <th class="table-active">結婚</th>
              <td>
                <div class="form-group" th:classappend="${#fields.hasErrors('marrige')} ? 'has-error'">
                <input id="unmarried" type="radio" name="marrige" value="false" th:field="*{marrige}"><label for="unmarried">未婚</label><br>
                <input id="married" type="radio" name="marrige" value="true" th:field="*{marrige}"><label for="married">既婚</label><br>
                <span class="text-danger" th:if="${#fields.hasErrors('marrige')}" th:errors="*{marrige}"></span>
                </div>
            </td>
            </tr>
          </table>

        <button class="btn btn-primary" type="submit">ユーザ登録</button>
        </form>

        <a th:href="@{'/login'}">ログイン画面に戻る</a>

    </div>
  </div>

</body>
</html>